/* Remove number input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    width: 150px;
}

tr {
    transition: 300ms ease-in-out;
}

.loading, .addLoading {
    visibility: hidden;
}

#addPerson {
    margin-bottom: 10px;
}

label.error {
    color: #D43939;
    font-size: 0.8em;
}